html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #333333;
  background-color: #ffffff;
  min-height: 100%;
 
}

a {
  color: inherit;
  text-decoration: none;

}

section {
  padding: 140px 0;
}

:focus,
:hover,
:active {
  transition: 0.3s ease-in-out;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  min-height: 100vh;
  box-shadow: inset 0 0 0 700px rgba(35, 82, 222, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}

.header__top {
  padding-top: 70px;
}


.burger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu__items {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__link {
  color: #ffffff;
  font-weight: 600;
}

.header__content {
  flex-direction: column;
}

.header__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.3;
  color: #ffffff;
  width: 524px;
}

.header__title span {
  font-weight: 400;
  font-size: 48px;
}

.header__arrow {
  color: #ffffff;
  padding-bottom: 35px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.header__arrow:after {
  content: "";
  position: absolute;
  background-image: url(../images/header/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 38px;
  height: 23px;
  bottom: 1px;
  left: 56px;
}

.logo:hover {
  opacity: 0.7;
}

.header__arrow:active,
.logo:active,
.menu__link:active {
  opacity: 0.5;
}

.menu__link:focus,
.header__arrow:focus {
  box-shadow: 0 0 0 2px rgb(185, 198, 244);
  border-radius: 2px;
}

.menu__link:hover,
.header__arrow:hover {
  text-decoration: underline;
}

.title {
  display: inline-block;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
  color: #333333;
  line-height: 130%;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 16px;
  background-color: rgb(35, 129, 222, 0.1);
  bottom: 5px;
  left: 0;
}

.about__text p {
  line-height: 1.3;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}

.skills {
  background-color: #F6F6F8;
}

.skills__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__info {
  position: relative;
  max-width: 665px;
  width: 100%;
}

.skills__items {
  margin-bottom: 85px;
  display: flex;
  align-items: center;
}

.skills__items:last-child {
  margin-bottom: 0;
}

.skills__text {
  width: 63px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}

.skills__bg {
  flex-shrink: 0;
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 32px;
  background-color: #DBDBED;
}

.skills__line {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #2352DE;
}

.services__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__item {
  width: 330px;
  position: relative;
}

.services__subtitle {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 25px;
  padding-top: 90px;
}

.services__text {
  font-size: 16px;
  line-height: 1.6;
}

.services__item:before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
}

.services__item_code {
  background-image: url(../images/services/code.svg);
  background-repeat: no-repeat;
}

.services__item_dev {
  background-image: url(../images/services/dev.svg);
  background-repeat: no-repeat;
}

.services__item_chat {
  background-image: url(../images/services/chat.svg);
  background-repeat: no-repeat;
}

.portfolio {
  padding: 0 0 140px;
}

.title__porfolio {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.portfolio__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.portfolio__filter-items {
  display: flex;
  justify-content: center;
}

.portfolio__filter-item {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 600;
  margin-bottom: 60px;
}

.portfolio__filter-item:not(:last-child) {
  margin-right: 45px;
}

.portfolio__filter-link:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
  border-radius: 2px;
}

.portfolio__filter-link:hover {
  text-decoration: underline;
  color: #2352DE;
}

.portfolio__filter-link:active {
  color: #2352DE;
  text-decoration: none;
}

.portfolio__images-item {
  display: flex;
  gap: 45px;
  margin-bottom: 45px;
}

.portfolio--button {
  display: block;
  margin: 0 auto;
}

.portfolio--button,
.form__button {
  border: none;
  padding: 12px 24px;
  background-color: #2352DE;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.portfolio--button:focus,
.form__button:focus {
  box-shadow: 0 0 0 3px #BAC9F5;
}

.portfolio--button:hover,
.form__button:hover {
  box-shadow: inset 0 0 0 2px #2352DE;
  background-color: #fff;
  color: #2352DE;
  text-decoration: underline;
}

.portfolio--button:active,
.form__button:active {
  background: #132E7C;
  box-shadow: inset 0 5px 0 0 #0E225D;
  color: #fff;
  text-decoration: none;
}


.reviews {
  background-color: #F6F6F8;
}

.title__reviews {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 60px;
}

.reviews__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.blockquote__author-img {
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.blockquote__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 375px;
}

.blockquote__author-name {
  font-weight: 600;
  font-size: 24px;
  color: #2352DE;
  margin-bottom: 20px;
}

.blockquote__author-text {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
}

.reviews__video {
  height: 400px;
  width: 570px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.reviews__video-link {
  height: 400px;
  width: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.reviews__video:focus {
  box-shadow: 0 0 0 3px #6E8EEA;
  width: 100%;
}

.reviews__video-link:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.reviews__video-link:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.5);
}

.reviews__svg:active {
  transform: scale(0.5);
}

.facts__items {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.facts__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F8;
  width: 280px;
  height: 287px;
  padding-top: 140px;
  box-shadow: inset 0 0 0 1px #DBDBED;
  position: relative;
}

.facts__item:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  top: 40px;
  left: 98px;
  background-repeat: no-repeat;
}

.facts__item--works:before {
  background-image: url(../images/facts/works.svg);
}

.facts__item--clients:before {
  background-image: url(../images/facts/clients.svg);
}

.facts__item--coffe:before {
  background-image: url(../images/facts/coffee.svg);
}

.facts__item--reviews:before {
  background-image: url(../images/facts/review.svg);
}

.facts__text {
  font-weight: 400;
  margin-bottom: 20px;
}

.facts__numbers {
  font-weight: 600;
  font-size: 44px;
  line-height: 1;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.adress {
  display: flex;
  flex-direction: column;
}

.adress p {
  font-size: 16px;
  line-height: 1.6;
  width: 530px;
  margin-bottom: 30px;
}

.adress__list {
  margin-bottom: 20px;
}

.adress__list-item:not(:last-child) {
  margin-bottom: 15px;
}

.adress__list-link {
  color: #2352DE;
  font-size: 16px;
}

.adress__list-link:active {
  box-shadow: inset 0 0 0 2px #6E8EEA;
  cursor: pointer;
}

.adress__list-link:hover {
  text-decoration: underline;
  cursor: pointer;
  border-radius: 4px;
}

.adress__list-link:active {
  color: rgba(35, 82, 222, 0.5);
  text-decoration: none;
}

.adress__socials {
  display: flex;
  justify-content: space-between;
  width: 172px;
}

.adress__socials-item {
  width: 172px;
}

.adress__socials-link {
  display: flex;
  position: relative;
  height: 44px;
  width: 44px;
}

.adress__socials-link:after {
  content: "";
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0;
  left: 0;
}

.adress__socials-link--instagram:after {
  background-image: url(../images/contacts/instagram.svg)
}

.adress__socials-link--facebook:after {
  background-image: url(../images/contacts/facebook.svg);
}

.adress__socials-link--telegram:after {
  background-image: url(../images/contacts/telegram.svg);
}

.adress__socials-link:focus {
  box-shadow: 0 0 0 3px #6E8EEA;
  border-radius: 2px;
}

.adress__socials-link:hover {
  opacity: 0.6;
}

.form {
  display: flex;
  width: 540px;
  height: 100%;
  flex-wrap: wrap;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item:nth-child(1) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.form__label {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
}

.form__input {
  height: 40px;
  width: 255px;
  border: none;
  background-color: #F6F6F8;
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
  outline: none;
}

.form__item textarea {
  display: block;
  height: 115px;
  width: 540px;
  margin-bottom: 30px;
  padding-top: 14px;
  resize: none;
}

.form__input:focus {
  box-shadow: 0 0 0 3px #4870E4;
}

.form__input:hover::placeholder {
  color: #333;
  transition: 0.3s ease-in-out;
}

.footer {
  background-color: #333333;
  height: 153px;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 55px;
}


@media (max-width: 1200px) {

  .title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
  }

  .skills__inner {
    display: flex;
    flex-direction: column;
  }

  .skills__img {
    margin-bottom: 60px;
  }

  .skills__items {
    display: flex;
    flex-direction: column;
  }

  .skills__text {
    margin-bottom: 5px;
  }

  .services__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .services__item {
    margin-bottom: 30px;
  }

  .services__item:nth-last-child(1) {
    margin-bottom: 0;
  }

  .facts__items {
    display: flex;
    justify-content: center;
  }

  .facts__items {
    margin-bottom: 15px;
  }

  .contacts__inner {
    display: block;

  }
}

@media (max-width: 992px) {

  .header__top {
    padding-top: 15px;
  }

  .skills__items {
    margin-bottom: 85px;
  }

  .header__top.header__top--active .menu__items {
    transform: translateY(0%);
  }

  .logo {
    position: relative;
    z-index: 2;
  }

  .menu__items {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background-color: #7792E0;
    display: block;
    text-align: center;
    padding-top: 90px;
    transform: translateY(-200%);
    transition: .7s ease-in-out;
    z-index: 1;
  }

  .menu__item {
    display: block;
    padding-bottom: 15px;
  }

  .menu__item:nth-last-child(1) {
    margin-bottom: calc(100vh - 310px);

  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .header__title span {
    font-weight: 400;
    font-size: 45px;
  }

  .header__title {
    font-size: 65px;
  }

  .portfolio__images {
    display: flex;
    gap: 15px;
    justify-content: center;

  }

  .portfolio__images-item {
    flex-direction: row;
    margin-bottom: 15px;
    display: block;
  }

  .portfolio__image {
    margin-bottom: 15px;
  }

  .portfolio__filter-item {
    font-size: 20px;
  }

  .reviews__inner {
    flex-direction: column;
    position: relative;
  }

  .blockquote {
    margin-bottom: 30px;
  }

  .burger {
    appearance: none;
    border: 0;
    padding: 0;
    background-color: transparent;
    outline: 0;
  }

  .burger {
    display: block;
    width: 40px;
    height: 30px;
    position: relative;
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
  }

  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
  }

  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    top: calc(100% - 2px);
  }

  .burger--active .burger__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  .burger--active::before {
    transform: rotate(45deg);
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .burger--active::after {
    transform: rotate(-45deg);
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  }




@media (max-width:768px) {

  section {
    padding: 70px 0;
  }


  .header__title span {
    font-size: 40px;
  }

  .header__title {
    font-size: 50px;
  }

  .skills__items {
    margin-bottom: 24px;
  }

  .services__item {
    transform: scale(0.9);
  }

  .services__subtitle {
    margin-bottom: 15px;
  }

  .portfolio__filter-item {
    margin-bottom: 15px;
  }

  .portfolio__filter-item:nth-last-child(1) {
    margin-bottom: 30px;
  }

  .portfolio__filter-item:not(:last-child) {
    margin-right: 0;
  }

  .portfolio__filter-items {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .blockquote__author-name,
  .blockquote__author-text {
    font-size: 20px;
  }

  .reviews__video {
    height: 300px;
    width: 470px;
  }

  .reviews__video-link {
    height: 300px;
    width: 470px;
  }

  .facts__items {
    scale: 0.8;
  }

  .adress,
  .form__item,
  .form__item:nth-child(1) {
    margin-bottom: 15px;
  }

  .adress p {
    width: 330px;
  }
  
  .form__item textarea {
    margin-bottom: 0;
  }

}

@media (max-width:576px) {


  section {
    padding: 50px 0;
  }

  .header__title span {
    font-size: 28px;
  }

  .header__title {
    font-size: 40px;
    width: 345px;
  }

  p {
    font-size: 16px;
  }

  .title {
    font-size: 28px;
  }

  .services__item {
    transform: scale(0.8);
  }

  .portfolio__filter-item {
    font-size: 18px;
  }


  .blockquote__author-img {
    margin-bottom: 45px;
  }

  .blockquote__author-name {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .blockquote__author-text {
    font-size: 16px;
    width: 345px;
    margin-left: 15px;
  }

  .reviews__video {
    height: 250px;
    width: 250px;
    top: 2px;
    border-radius: 50%;
    scale: 0.3;
    transform: translateX(58%);
    position: absolute;
  }

  .reviews__video-link {
    height: 250px;
    width: 270px;
    scale: 0.7;
  }



  .form__input,
  .form__item textarea {
    width: 330px;
    padding-left: 15px;
  }

  .form { 
    width: 360px;
  }
}